{% extends "learning_logs/base.html" %}

{% block page_header %}
  <h3>{{topic}}</h3>
{% endblock page_header %}

{% block content %}
  <p>article:</p>
  <p>
    <a href="{%url 'learning_logs:new_entry' topic.id%}">add new article</a>
  </p>
  <ul>
    {% for entry in entries %}
      <div class="card mb-3">
        <h4 class="card-header">
          <p>{{ entry.date_added|date:'Y年m月d日 H:i'}}</p>
          <small><a href="{%url 'learning_logs:edit_entry' entry.id%}">edit article</a></small>
        </h4>
        <div class="card-body">
          <p>{{ entry.text|linebreaks}}</p>
        </div>
      </div>
     {% empty %}
     <p>no article</p>
    {% endfor %}
  </ul>








{% endblock content %}





















